<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academy-GB Blog</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
    <!-- https://fontawesome.com/ -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
          rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}"
          rel="stylesheet">
</head>
<body>
<header class="tm-header" id="tm-header">
    <div class="tm-header-wrapper">
        <button class="navbar-toggler" type="button"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="tm-site-header">
            <div class="mb-3 mx-auto tm-site-logo"><i
                    class="fas fa-times fa-2x"></i></div>
            <h1 class="text-center">Academy-GB Blog</h1>
        </div>
        <nav class="tm-nav" id="tm-nav">
            <ul>
                <li class="tm-nav-item">
                    <a href="/" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Blog Home
                    </a>
                </li>
                <li class="tm-nav-item">
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('posts.user_posts', user_id=current_user.id) }}"
                                           class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        My Post
                    </a>
                    {% endif %}
                </li>
                <li class="tm-nav-item">
                    <a href="/about" class="tm-nav-link">
                        <i class="fas fa-users"></i>
                        About Academy-GB Blog
                    </a>
                </li>
                <li class="tm-nav-item">
                    <a href="/contact" class="tm-nav-link">
                        <i class="far fa-comments"></i>
                        Contact Us
                    </a>
                </li>
            </ul>
        </nav>
        <div class="tm-mb-65">
            <a rel="nofollow" href="https://fb.com/templatemo"
               class="tm-social-link">
                <i class="fab fa-facebook tm-social-icon"></i>
            </a>
            <a href="https://twitter.com" class="tm-social-link">
                <i class="fab fa-twitter tm-social-icon"></i>
            </a>
            <a href="https://instagram.com" class="tm-social-link">
                <i class="fab fa-instagram tm-social-icon"></i>
            </a>
            <a href="https://linkedin.com" class="tm-social-link">
                <i class="fab fa-linkedin tm-social-icon"></i>
            </a>
        </div>
        <p class="tm-mb-80 pr-5 text-white">
            Academy-GB Blog is a multi-purpose HTML template from TemplateMo
            website.
            Left side is a sticky menu bar. Right side content will scroll up
            and down.
        </p>
    </div>
</header>
<div class="container-fluid">
    <!-- Navbar Right Side -->
    <div class="menu_bar">
        {% if current_user.is_authenticated %}
            <a class="menu_link" href="{{ url_for('posts.new_post') }}">
                <i class="fa fa-plus icon-left"></i>Новый пост</a>
            <a class="menu_link" href="{{url_for('users.account') }}">
                <i class="fa fa-user icon-left" style=""></i>
                Profile
            </a>
            <a class="menu_link" href="{{ url_for('users.logout') }}"><i
                    class="fa fa-sign-out"></i>Exit</a>
        {% else %}
            <a class="menu_link" href="{{url_for('users.login') }}">Enter</a>
            <a class="menu_link" href="{{url_for('users.register') }}">Register</a>
        {% endif %}
    </div>

    <main class="tm-main ">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %} {% endblock content %}
    </main>
</div>
<footer class="row tm-row">
    <hr class="col-12">
    <div class="col-md-6 col-12 tm-color-gray">
        Design: <a rel="nofollow" target="_parent"
                   href="https://templatemo.com"
                   class="tm-external-link">TemplateMo</a>
    </div>
    <div class="col-md-6 col-12 tm-color-gray tm-copyright">
        Copyright 2020 Academy-GB Blog Company Co. Ltd.
    </div>
</footer>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/menu-active.js') }}"></script>
<script src="{{ url_for('static', filename='js/templatemo-script.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>