{% extends "base.html" %}

{% block content %}
<div class="container flex-column" style="display: flex;">
  <article class="col-12 col-md-6">
      <hr class="tm-hr-primary">
              <div>
                  <img src="{{ url_for('static', filename='img/posts_image/' + post.image_file) }}"
                       alt="Image" class="img-fluid">
              </div>
                  <!-- Flag - new posts. -->
                  {% if (datetime.datetime.utcnow() - post.date_posted)
                      < datetime.timedelta(hours=24) %}
                      <span class="position-absolute tm-new-badge" style="right: 15px;">New</span>
                  {% endif %}
              <h2 class="tm-pt-30 tm-color-primary tm-post-title ">
                      {{ post.title }}
              </h2>
      <p class="tm-pt-30">
          {{ post.content }}
      </p>
      <div class="d-flex justify-content-between tm-pt-45">
          <span class="tm-color-primary">{{ post.author.username }}</span>
          <span class="tm-color-primary">
              {{ post.date_posted.date() }}</span>
      </div>
      <hr>
  </article>
      {% if post.author == current_user %}
        <div class="card-footer" style="border-top: 0;">
          {% if post.author == current_user %}
            <a class="btn btn-update mt-1 mb-1" href="{{url_for('posts.update_post', post_id=post.id) }}">Обновить</a>
            <button type="button" class="btn btn-delete m-1" data-toggle="modal"  data-target="#deleteModal">Удалить</button>
          {% endif %}
        </div>
      {% endif %}

  
<!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Удалить пост?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-update mt-1 mb-1" data-dismiss="modal">Закрыть</button>
          <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-delete m-1" type="submit" value="Удалить">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
