{% extends "base.html" %}

{% block content %}
<div>
    <!-- Search form -->
    <div class="row tm-row">
        <div class="col-12">
            <form method="GET" class="form-inline tm-mb-80 tm-search-form">
                <input class="form-control tm-search-input" name="query"
                       type="text" placeholder="Search..."
                       aria-label="Search">
                <button class="tm-search-button" type="submit">
                    <i class="fas fa-search tm-search-icon"
                       aria-hidden="true"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="row tm-row">
        <h1 class="mb-3">Посты опубликованы пользователем - {{ current_user.username }} ({{ posts.total }})</h1>
        {% for post in posts.items %}
        <article class="col-12 col-md-6 tm-post">
            <hr class="tm-hr-primary">
                <a href="{{ url_for('posts.post', post_id=post.id) }}" class="deactivate-link  effect-lily">
                    <div class="tm-post-link-inner">
                        {% if post.image_file %}
                            <img src="{{ url_for('static', filename='img/posts_image/' + post.image_file) }}"
                                 alt="Image" class="img-fluid">
                        {% else %}
                            <img src="{{ url_for('static', filename='img/posts_image/default.jpg') }}"
                                 alt="Image" class="img-fluid">
                        {% endif %}
                    </div>
                        <!-- Flag - new posts. -->
                        {% if (datetime.datetime.utcnow() - post.date_posted)
                            < datetime.timedelta(hours=24) %}
                            <span class="position-absolute tm-new-badge">New</span>
                        {% endif %}
                    <h2 class="tm-pt-30 tm-color-primary tm-post-title ">
                            {{ post.title }}
                    </h2>
                </a>
            <p class="tm-pt-30">
                {{ post.content }}
            </p>
            <div class="d-flex justify-content-between tm-pt-45">
                <span class="tm-color-primary">{{ post.author.username }}</span>
                <span class="tm-color-primary">
                    {{ post.date_posted.date() }}</span>
            </div>
            <hr>
        </article>
    {% endfor %}
    </div>
    <div class="row tm-row tm-mb-75">
        <div class="tm-paging-wrapper">
            <nav class="tm-paging-nav d-inline-block">
                <ul>
                    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                        {% if page_num %}
                            {% if posts.page == page_num %}
                                <li class="tm-paging-item active">
                                    <a class="mb-2 tm-btn tm-paging-link" href="{{ url_for('posts.user_posts',user_id=current_user.id, page=page_num) }}">{{ page_num }}</a>
                                </li>
                            {% else %}
                                <li class="tm-paging-item">
                                    <a class="mb-2 tm-btn tm-paging-link" href="{{ url_for('posts.user_posts', user_id=current_user.id, page=page_num) }}">{{ page_num }}</a>
                                </li>
                            {% endif %}
                        {% else %}
                            ...
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock content %}
